div#admin-menu
  div.buttons.visible
    a.showHide ShowHide
  div.buttons
    a.add Add

    div.buttons
      a.page Page
      a.post Post

  div.buttons
    a.change Change
    
    div.buttons
      a.menu Menu
      a.footer Footer
